{
   "trailingComma": "es5",
   "semi": false,
   "singleQuote": true,
   "arrowParens": "always",
   "printWidth": 100,
   "bracketSpacing": true,
   "endOfLine": "lf",
   "tabWidth": 3,
   "plugins": [
      "@trivago/prettier-plugin-sort-imports",
      "prettier-plugin-sql",
      "prettier-plugin-tailwindcss"
   ],
   "importOrder": [
      "^@spotfish/ui$",
      "^@spotfish/ui/(.*)$",
      "^@spotfish/app$",
      "^@spotfish/app/(.*)$",
      "^@spotfish/api$",
      "^@spotfish/api/(.*)$",
      "^@spotfish/supabase/(.*)$",
      "^[./]",
      "<THIRD_PARTY_MODULES>"
   ],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "language": "postgresql",
   "keywordCase": "lower",
   "database": "postgresql",
   "expressionWidth": 50,
   "denseOperators": true
}
